@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
body {
    background-color: rgb(19, 30, 39);
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
}
img {
    border-radius: 12px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
section{
   display: grid;
   place-items: center;
   align-content: center;
   min-height: 100vh;
}
@media (max-width: 900px){
    section h1{
      font-size: 2rem;
      text-align: center;
    }
    section .text-container{
      flex-direction:none;
    }
  }
  .reveal{
    transform: translateX(150px);
    opacity: 0;
    transition: 1s all ease;
    filter: blur(4px);
  }
  
  .reveal.active{
    transform: translateY(0);
    opacity: 1;
    filter:blur(0);
  }